.input-group {
	margin-top: 20px;
}

body {
	text-align: center;
}

#btn1 {
	margin-top: 20px;
}

.form-control {
	width: 800px;
}

.col-lg-6 {
	width: 100%;
	margin: 0 auto;
}

.input-center {
	width: 40%;
	margin: auto;
	margin-top: 20px;
}

.inputfile {
	height: 20px;
}

.radio {
	margin-top: 20px;
}

.button {
	margin-top: 20px;
}